/* Контейнер чата с фиксированным размером */
.chat-container-center {
  display: flex;
  flex-direction: column;
  width: 100%; /* Занимает 80% ширины родителя */
  max-width: 800px; /* Ограничиваем максимальную ширину */
  background-color: rgb(30, 30, 30); /* Цвет фона контейнера */
  overflow: hidden; /* Скрываем лишнее содержимое */
}

/* Заголовок чата */
.chat-header {
  text-align: center;
  color: white;
  margin: 10px 0;
  font-size: 1.5rem;
}

/* Контейнер сообщений */
.chat-messages {
  flex: 1;
  width: 100%;
  overflow-y: auto;
  padding: 20px;
  background-color: rgb(30, 30, 30);
  box-sizing: border-box;
  border-radius: 10px;
}

/* Сообщения */
.message {
  margin-bottom: 15px;
  padding: 10px 15px;
  border-radius: 10px;
  max-width: 70%;
  word-wrap: break-word;
}

.user-message {
  background-color: #38373a;
  color: white;
  margin-left: auto;
  border-bottom-right-radius: 0;
}

.bot-message {
  background-color: #4a5568;
  color: white;
  margin-right: auto;
  border-bottom-left-radius: 0;
}

/* Контейнер ввода */
.chat-input-container {
  display: flex;
  gap: 10px;
  padding: 15px;
  background-color: #1b1c1d;
  border-top: 1px solid #34495e;
  box-sizing: border-box;
  border-radius: 10px;
}

/* Поле ввода */
.chat-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #4a5568;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  background-color: #34373b;
  color: white;
}

.chat-input:focus {
  border-color: #857c7e;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Кнопка отправки */
.send-button {
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s, transform 0.3s;
}

.send-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.send-button.active .send-icon {
  color: #007bff;
  transform: scale(1.1);
}

.send-icon {
  font-size: 20px;
  color: #919191;
  transition: color 0.3s, transform 0.3s;
}

